@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/dancing-script-v11-latin-regular.eot'); src: local('Dancing Script Regular'), local('DancingScript-Regular'), url('../fonts/dancing-script-v11-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dancing-script-v11-latin-regular.woff2') format('woff2'), url('../fonts/dancing-script-v11-latin-regular.woff') format('woff'), url('../fonts/dancing-script-v11-latin-regular.ttf') format('truetype'), url('../fonts/dancing-script-v11-latin-regular.svg#DancingScript') format('svg');
}

@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/dancing-script-v11-latin-700.eot'); src: local('Dancing Script Bold'), local('DancingScript-Bold'), url('../fonts/dancing-script-v11-latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/dancing-script-v11-latin-700.woff2') format('woff2'), url('../fonts/dancing-script-v11-latin-700.woff') format('woff'), url('../fonts/dancing-script-v11-latin-700.ttf') format('truetype'), url('../fonts/dancing-script-v11-latin-700.svg#DancingScript') format('svg');
}